@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "User Login Page";
}
 <body>
    <table border="0" align="center">
         <form name="login" action="" method="post" accept-charset="utf-8">  
        <tr>
        <td>
           
            <label for="email" style= "color:yellow, width:300px" >Email</label>  
            <input type="email" name="email" placeholder="yourname@email.com"> 
        </td>
        </tr>
         <tr>
        <td>
           <label for="password">Password</label>  
            <input type="password" name="password" placeholder="Password" required>  
        </td>
        </tr>
        <tr>
        <td>
            <input type="submit" value="Login"> 
        </td>
        </tr>
              </form>  
    </table>
    </body>